* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

/* app-header, app-footer */

.app-header,
.app-footer {
  background-color: khaki;
  height: 5vh;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header > * {
  width: 50%;
}

.app-header .nav-bar {
  display: flex;
  justify-content: space-evenly;
}
/* app-main */

.app-main {
  background-color: blanchedalmond;
  height: 90vh;
}

/* book-app */

/* .book-app {
  padding: 10px;
} */

/* book-list */

.book-list {
  /* height: 90vh; */
  background-color: burlywood;
  padding: 10px;
}

.book-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

/* book-preview */
.book-preview-container {
  background-color: navajowhite;
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  /* text-align: center; */
}

.book-preview {
  display: flex;
  flex-direction: column;
}
.book-preview .book-title {
  margin-bottom: 5px;
}

.book-preview h4 {
  display: inline;
  /* text-align: left; */
}

.book-preview .book-img {
  margin-bottom: 5px;
  text-align: center;
}
.book-preview img {
  height: 50px;
}

/* book-filter */

.book-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: peachpuff;
  padding: 10px;
}

/* book-details */

.book-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: thistle;
  padding: 10px;
}

.book-details-img-container {
  display: flex;
  flex-direction: column;
}

.book-details-img-container button {
  width: 25%;
}

.book-details-img-container img {
  padding: 10px 0;
}

.book-details-container {
  padding: 20px;
}
.book-details-container > * {
  margin-bottom: 8px;
}

/* router-view */

.router-link-exact-active {
  text-decoration: none;
  color: green;
}

/* home-page */

.home-page {
  /* height: 100%; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page .home-page-header {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

.home-page .home-page-description {
  text-align: center;
  line-height: 1.3rem;
}

/* review-add */

.review-add {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* color: aqua; */
}

.review-add form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  justify-content: space-evenly;
}

.review-add form > * {
  margin-bottom: 7px;
}

.review-add form select {
  width: 30%;
}

.review-list ul {
  width: 50%;
  align-items: center;
}

.review-list-container {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  border: 1px solid darkgoldenrod;
  padding: 5px;
  margin-block-end: 5px;
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

.review-container {
  text-align: left;
}

/* user-msg */

.user-msg {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: lightgreen;
  padding: 10px;
}

.success {
  background-color: greenyellow;
}

.error {
  background-color: red;
  color: white;
}
